{% for server in host.radius_servers %}
radius server {{ server.server_name }}
 address ipv4 {{ server.IP_addr }} auth-port {{ server.auth_port }} acct-port {{ server.acct_port }}
 automate-tester username {{ server.tester_username }} idle-time 5
 key {{ server.key }}
{% endfor %}