{% for interface in host.interfaces_to_be_bounced %}
interface {{ interface }}
 shutdown
{% endfor %}
{% for interface in host.interfaces_to_be_bounced %}
interface {{ interface }}
 no shutdown
{% endfor %}