aaa group server radius {{ host.radius_server_group }}
{% for server in host.radius_servers %}
 server name {{ server.server_name }}
{% endfor %}
{% for server in host.old_radius_servers %}
 no server name {{ server.server_name }}
{% endfor %}
