{% for server in host.radius_servers %}
radius server {{ server.server_name }}
 address ipv4 {{ server.IP_addr }} auth-port {{ server.auth_port }} acct-port {{ server.acct_port }}
 automate-tester username {{ host.test_user }} idle-time 5
 key {{ server.key }}
{% endfor %}
aaa server radius dynamic-author
{% for server in host.radius_servers_CoA %}
 client {{ server.IP_addr }} server-key {{ server.key }}
{% endfor %}