{% for server in host.radius_servers %}
radius-server host {{ server.IP_addr }} auth-port {{ server.auth_port }} acct-port {{ server.acct_port }} test username {{ server.tester_username }} key {{ server.key }}
{% endfor %}