{% for server in host.radius_servers %}
radius-server host {{ server.IP_addr }} auth-port {{ server.auth_port }} acct-port {{ server.acct_port }} test username {{ host.test_user }} key {{ server.key }}
{% endfor %}
aaa server radius dynamic-author
{% for server in host.radius_servers_CoA %}
 client {{ server.IP_addr }} server-key {{ server.key }}
{% endfor %}