aaa group server radius {{ host.radius_server_group }}
{% for server in host.radius_servers %}
 server {{ server.IP_addr }} auth-port {{ server.auth_port }} acct-port {{ server.acct_port }}
{% endfor %}
{% for server in host.old_radius_servers %}
 no server {{ server.IP_addr }} auth-port 1812 acct-port 1813
{% endfor %}